version: '3.9'

volumes:
   geoserver-cluster-data:
   geoserver-cluster-gwc-data:
   geo-db-data:

services:
   db:
      image: kartoza/postgis:16-3.4
      volumes:
        - geo-db-data:/var/lib/postgresql
      environment:
        - POSTGRES_DB=gis
        - POSTGRES_USER=docker
        - POSTGRES_PASS=docker
        - ALLOW_IP_RANGE=0.0.0.0/0
        - FORCE_SSL=TRUE
      restart: on-failure
      healthcheck:
        test: "PGPASSWORD=docker pg_isready -h 127.0.0.1 -U docker -d gis"
   master:
      image: kartoza/geoserver:2.24.1
      volumes:
         - geoserver-cluster-data:/opt/geoserver/data_dir
         - geoserver-cluster-gwc-data:/opt/geoserver/gwc
      ports:
        - "8081:8080"
      environment:
        - GEOWEBCACHE_CACHE_DIR=/opt/geoserver/gwc
        - BROKER_URL=tcp://0.0.0.0:61661
        - READONLY=disabled
        - CLUSTER_DURABILITY=false
        - CLUSTERING=True
        - TOGGLE_MASTER=true
        - TOGGLE_SLAVE=true
        - DB_BACKEND=POSTGRES
        - HOST=db
        - POSTGRES_PORT=5432
        - POSTGRES_DB=gis
        - POSTGRES_USER=docker
        - POSTGRES_PASS=docker
        - SSL_MODE=allow
        - GEOSERVER_ADMIN_PASSWORD=myawesomegeoserver
        - GEOSERVER_ADMIN_USER=admin
        # prevent some errors the option below
        #- ADDITIONAL_JAVA_STARTUP_OPTIONS="--add-opens=java.base/jdk.internal.misc=ALL-UNNAMED"
      restart: on-failure
      depends_on:
        db:
          condition: service_healthy
      healthcheck:
        test: "curl --fail --silent --write-out 'HTTP CODE : %{http_code}\n' --output /dev/null -u admin:'myawesomegeoserver' http://localhost:8080/geoserver/rest/about/version.xml"
        interval: 1m30s
        timeout: 10s
        retries: 3
   node:
      image: kartoza/geoserver:2.24.1
      volumes:
         - geoserver-cluster-data:/opt/geoserver/data_dir
         - geoserver-cluster-gwc-data:/opt/geoserver/gwc
      ports:
        - "8082:8080"
      environment:
        - GEOWEBCACHE_CACHE_DIR=/opt/geoserver/gwc
        - BROKER_URL=tcp://master:61661
        - READONLY=disabled
        - CLUSTER_DURABILITY=false
        - CLUSTERING=True
        - TOGGLE_MASTER=true
        - TOGGLE_SLAVE=true
        - EMBEDDED_BROKER=disabled
        - HOST=db
        - POSTGRES_PORT=5432
        - POSTGRES_DB=gis
        - POSTGRES_USER=docker
        - POSTGRES_PASS=docker
        - SSL_MODE=allow
        - GEOSERVER_ADMIN_PASSWORD=myawesomegeoserver
        - GEOSERVER_ADMIN_USER=admin
        # prevent some errors the option below
        #- ADDITIONAL_JAVA_STARTUP_OPTIONS="--add-opens=java.base/jdk.internal.misc=ALL-UNNAMED"
      restart: on-failure
      depends_on:
        master:
          condition: service_started
        db:
          condition: service_healthy
      healthcheck:
        test: "curl --fail --silent --write-out 'HTTP CODE : %{http_code}\n' --output /dev/null -u admin:'myawesomegeoserver' http://localhost:8080/geoserver/rest/about/version.xml"
        interval: 1m30s
        timeout: 10s
        retries: 3

   

