
version: '2.1'

volumes:
  geoserver-data-dir:


services:
  geoserver:
    image: 'kartoza/geoserver:${TAG:-manual-build}'
    restart: 'always'
    volumes:
      - geoserver-data-dir:/opt/geoserver/data_dir
      - ./tests:/tests
    environment:
      GEOSERVER_ADMIN_PASSWORD: myawesomegeoserver
      GEOSERVER_ADMIN_USER: admin
      INITIAL_MEMORY: 2G
      MAXIMUM_MEMORY: 4G
      GEOSERVER_CONTEXT_ROOT: foobar
      CONTAINER_NAME: geoserver
      TEST_CLASS: test_login.TestGeoServerREST
    healthcheck:
      test: "curl --fail --silent --write-out 'HTTP CODE : %{http_code}\n' --output /dev/null -u admin:'myawesomegeoserver' http://localhost:8080/foobar/rest/about/version.xml"
      interval: 1m30s
      timeout: 10s
      retries: 3



